<div class="content">
    <div class="header">
        <div class="title">
            <h1>Messages <p-badge [value]="12" severity="success" />
            </h1>
        </div>
    </div>
    <div class="search-bar">

        <p-iconField iconPosition="left">
            <p-inputIcon styleClass="pi pi-search" />
            <input type="text" pInputText placeholder="Search in my contacts" />
        </p-iconField>
    </div>

    <p-scrollPanel class="contacts-panel">
        <div class="contacts">
            <div *ngFor="let contact of contacts; let first = first">
                <div class="contact" (click)="loadDiscussion(contact)">
                    <img class="contact-profile" [src]="contact.profilePicture" [alt]="contact.name" />
                    <div class="contact-info">
                        <div class="data">
                            <span class="name">{{ contact.name }}</span>
                            <div>
                                <span class="status"
                                    [ngClass]="{' text-success': contact.status == 'online',' text-danger': contact.status == 'offline'}">{{
                                    contact.status }}</span>
                                <span class="status">12m</span>
                            </div>
                        </div>
                        <span class="last-message">Last message</span>
                    </div>
                </div>
            </div>
        </div>
    </p-scrollPanel>
</div>