.socials {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.social-items {
  margin-top: 1rem;
  text-decoration: none;
  border: #198cff solid 1px;
  margin: 1rem;
  margin-bottom: 0;
  padding: 0.5rem;
  background-color: white;
}

.social-items span {
  color: #101213;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  margin: auto;
}

.social-items svg {
  margin-left: 1rem;
  width: 2.8rem;
  height: 2.8rem;
}

.spinner-border {
  margin-right: 1rem !important;
}
