<div class="sidebar">
    <div class="content">
        <!-- <div class="logo">
            <p>q</p>
        </div> -->
        <img class="logo"
        src="https://static.vecteezy.com/system/resources/previews/005/005/788/non_2x/user-icon-in-trendy-flat-style-isolated-on-grey-background-user-symbol-for-your-web-site-design-logo-app-ui-illustration-eps10-free-vector.jpg"
        alt="">
        
        <ul class="menu">
            <li>
                <a routerLink="/dashboard" routerLinkActive="active"><i class="pi pi-home"
                        style="color: 'var(--primary-color)'"></i>
                </a>
            </li>
            <li>
                <a routerLink="/dashboard" routerLinkActive="active"><i class="pi pi-envelope"
                        style="color: 'var(--primary-color)'"></i>
                </a>
            </li>
            <li>
                <a routerLink="/dashboard" routerLinkActive="active"><i class="pi pi-search"
                        style="color: 'var(--primary-color)'"></i>
                </a>
            </li>
        </ul>
        <div class="setting">
            <a (click)="logout()"><i class="pi pi-cog"
                    style="color: 'var(--primary-color)'"></i>
            </a>
        </div>
    </div>
</div>