/* @import url('builder.io.css'); */
.content {
  display: flex;
  padding: 0;
  background: #ffffff;
  justify-content: center;
  overflow: hidden;
}

.login-img {
  height: 100vh;
  width: 100%;
  /* margin: auto; */
  transform: matrix(-1, 0, 0, 1, 0, 0);
  border-radius: 0 24px 24px 0;
}
.header {
  display: flex;
  /* width: 100%; */
  align-items: center;
  margin: 0 auto;
}

.logo {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 10px;
}

.content .login {
  /* Frame 28986 */
  flex-grow: 1;
  /* Auto layout */
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 1.5rem;
  padding-bottom: 0;
  gap: 2rem;
  border-radius: 0 24px 24px 0;
  height: 100vh;
}

.login-content {
  /* Frame 28985 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 48px;

  margin: 0 auto;
  width: 70%;
  height: 560.5px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  background-color: #198cff;
}
 

.social-items {
  margin: 1rem;
  margin-bottom: 0;
  padding: 0.2rem;
  background-color: rgb(0, 0, 0);
  border-radius: 8px;
}

.social-items span {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  margin: auto;
}

.social-items svg {
  margin-left: 1rem;
  width: 2.8rem;
  height: 2.8rem;
}

.spinner-border {
  margin-right: 1rem !important;
}
