<div class="content">
    <div class="contact-info">
        <div class="profile">
            <img class="avatar"
                src="https://static.vecteezy.com/system/resources/previews/005/005/788/non_2x/user-icon-in-trendy-flat-style-isolated-on-grey-background-user-symbol-for-your-web-site-design-logo-app-ui-illustration-eps10-free-vector.jpg"
                alt="avatar">
            <div class="data">
                <span class="name">{{ currentUser?.name }}</span>
                <div class="status">
                    <span class="bg-success ball"></span>
                    <span class="text">Online</span>
                </div>
            </div>
        </div>
        <div class="call"></div>
    </div>
    <div class="discussion">
        <p-scrollPanel [style]="{ width: '100%', height: '55%' }">
            <div class=" ">
                <div class="message-box">
                    <img class="avatar"
                        src="https://static.vecteezy.com/system/resources/previews/005/005/788/non_2x/user-icon-in-trendy-flat-style-isolated-on-grey-background-user-symbol-for-your-web-site-design-logo-app-ui-illustration-eps10-free-vector.jpg"
                        alt="avatar">
                    <div class="box-content">
                        <div class="message">

                            <div class="message-content">
                                <span class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga quisquam nostrum hic ab facere, eum itaque sit necessitatibus quibusdam quam facilis. Velit nam laborum omnis a deserunt perspiciatis culpa minima.</span>
                            </div>
                            <div class="message-time">
                                <span class="time">12:00</span>
                            </div>
                        </div>
                        <div class="message">

                            <div class="message-content">
                                <span class="text">Hello</span>
                            </div>
                            <div class="message-time">
                                <span class="time">12:00</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="message-box">
                    <img class="avatar"
                        src="https://static.vecteezy.com/system/resources/previews/005/005/788/non_2x/user-icon-in-trendy-flat-style-isolated-on-grey-background-user-symbol-for-your-web-site-design-logo-app-ui-illustration-eps10-free-vector.jpg"
                        alt="avatar">
                    <div class="box-content">
                        <div class="message">

                            <div class="message-content">
                                <span class="text">Hello</span>
                            </div>
                            <div class="message-time">
                                <span class="time">12:00</span>
                            </div>
                        </div>
                        <div class="message">

                            <div class="message-content">
                                <span class="text">Hello</span>
                            </div>
                            <div class="message-time">
                                <span class="time">12:00</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="message-box sender new">
                    <img class="avatar"
                        src="https://static.vecteezy.com/system/resources/previews/005/005/788/non_2x/user-icon-in-trendy-flat-style-isolated-on-grey-background-user-symbol-for-your-web-site-design-logo-app-ui-illustration-eps10-free-vector.jpg"
                        alt="avatar">
                    <div class="box-content">
                        <div class="message">

                            <div class="message-content">
                                <span class="text">Hello</span>
                            </div>
                            <div class="message-time">
                                <span class="time">12:00</span>
                            </div>
                        </div>
                        <div class="message">

                            <div class="message-content">
                                <span class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
                                    sequi,
                                    non in qui cum voluptates nostrum dicta voluptate accusantium adipisci! Accusantium
                                    error optio quos odio veritatis, in sequi sint ex?</span>
                            </div>
                            <div class="message-time">
                                <span class="time">12:00</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="message-box sender new">
                    <img class="avatar"
                        src="https://static.vecteezy.com/system/resources/previews/005/005/788/non_2x/user-icon-in-trendy-flat-style-isolated-on-grey-background-user-symbol-for-your-web-site-design-logo-app-ui-illustration-eps10-free-vector.jpg"
                        alt="avatar">
                    <div class="box-content">
                        <div class="message">

                            <div class="message-content">
                                <span class="text">Hello</span>
                            </div>
                            <div class="message-time">
                                <span class="time">12:00</span>
                            </div>
                        </div>
                        <div class="message">

                            <div class="message-content">
                                <span class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
                                    sequi,
                                    non in qui cum voluptates nostrum dicta voluptate accusantium adipisci! Accusantium
                                    error optio quos odio veritatis, in sequi sint ex?</span>
                            </div>
                            <div class="message-time">
                                <span class="time">12:00</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="message-box sender new">
                    <img class="avatar"
                        src="https://static.vecteezy.com/system/resources/previews/005/005/788/non_2x/user-icon-in-trendy-flat-style-isolated-on-grey-background-user-symbol-for-your-web-site-design-logo-app-ui-illustration-eps10-free-vector.jpg"
                        alt="avatar">
                    <div class="box-content">
                        <div class="message">

                            <div class="message-content">
                                <span class="text">Hello</span>
                            </div>
                            <div class="message-time">
                                <span class="time">12:00</span>
                            </div>
                        </div>
                        <div class="message">

                            <div class="message-content">
                                <span class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
                                    sequi,
                                    non in qui cum voluptates nostrum dicta voluptate accusantium adipisci! Accusantium
                                    error optio quos odio veritatis, in sequi sint ex?</span>
                            </div>
                            <div class="message-time">
                                <span class="time">12:00</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="message-box sender new">
                    <img class="avatar"
                        src="https://static.vecteezy.com/system/resources/previews/005/005/788/non_2x/user-icon-in-trendy-flat-style-isolated-on-grey-background-user-symbol-for-your-web-site-design-logo-app-ui-illustration-eps10-free-vector.jpg"
                        alt="avatar">
                    <div class="box-content">
                        <div class="message">

                            <div class="message-content">
                                <span class="text">Hello</span>
                            </div>
                            <div class="message-time">
                                <span class="time">12:00</span>
                            </div>
                        </div>
                        <div class="message">

                            <div class="message-content">
                                <span class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
                                    sequi,
                                    non in qui cum voluptates nostrum dicta voluptate accusantium adipisci! Accusantium
                                    error optio quos odio veritatis, in sequi sint ex?</span>
                            </div>
                            <div class="message-time">
                                <span class="time">12:00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </p-scrollPanel>
    </div>
    <div class="send-message">
        <p-iconField iconPosition="right" class="w-75 mx-auto">
            <p-inputIcon styleClass="pi pi-send" class="send-icon" />
            <input type="text" pInputText placeholder="Type a message" class="w-100"/>
        </p-iconField>
    </div>
</div>