.content {
  /* Message Panel */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 99%;
  height: 100%;
  /* box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.08); */
}

.contact-info {
  /* Panel Header */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding: 24px; */

  width: 100%;
  height: 80px;

  /* background-color: aqua; */
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.08);
}

.contact-info .profile {
  /* User Content */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  margin: 0 24px;
  width: 240px;
  height: 43px;
}

.avatar {
  /* Frame 10 */

  width: 40px;
  height: 40px;

  border-radius: 10px;
}

.contact-info .profile .data {
  /* Frame 18 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
}

.contact-info .profile .data .name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
  /* identical to box height, or 25px */

  /* Black */
  color: #000000;
}

.contact-info .profile .status {
  /* Frame 19 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  width: 56px;
  height: 18px;
}

.contact-info .status .ball {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.contact-info .profile .status .text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */

  color: #000000;
  align-self: center;
  opacity: 0.6;
}

.contact-info .call {
  /* Call Button */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 16px;
  gap: 8px;

  margin: 0 24px;
  width: 94px;
  height: 44px;

  /* Primary/10% */
  background: rgba(97, 94, 240, 0.1);
  border-radius: 8px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.discussion {
  /* Message List */
  /* z-index: -1; */
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  padding-right: 0;
  gap: 24px;

  width: 100%;
  height: 75%;

  transition: display 0.5s;
}

.discussion .message-box {
  /* Frame 24 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}

.discussion .message-box .box-content {
  max-width: 50%;
}

.discussion .message-box.new {
  animation: fadeIn 0.5s ease-in-out;
}

.sender {
  /* Frame 29 */
  justify-content: flex-end;
  /* max-width: 80%; */
}

.sender .avatar {
  order: 1;
}

.sender .message {
  margin-left: auto;
  width: fit-content !important;
}

.sender .message-time {
  margin-left: auto;
  /* width: fit-content !important; */
}
.discussion .message-box .message {
  /* Frame 21 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 90%;
  margin-bottom: 10px;
}

.message .message-content {
  padding: 8px 16px;
  width: auto;
  /* max-width: 70%; */
  background: #f1f1f1;
  border-radius: 10px;
}

.message .message-time {
  font-size: 12px;
  color: #2e2e2e;
}

.send-message {
  /* Message Box */
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px;
  gap: 24px;

  margin: 0 auto;
  width: 100%;
  height: 60px;
  /* margin-bottom: 10px; */
  border-radius: 5px;
  /* background-color: rgba(230, 225, 230, 0.137); */
  background-color: rgb(138, 138, 138);
  z-index: 100;
}

.send-icon {
  cursor: pointer;
}
