<div class="sidebar">
    <div class="content">
        <!-- <div class="logo">
            <p>q</p>
        </div> -->
        <img class="logo" src="assets/img/logo.png" alt="">

        <ul class="menu">
            <li>
                <a (click)="changePanel(panels.contacts)" [ngClass]="{'active': currentPanel == panels.contacts}"><i class="pi pi-comments"></i></a>
            </li>
            <li>
                <a (click)="changePanel(panels.groups)" [ngClass]="{'active': currentPanel == panels.groups}"><i class="pi pi-users"></i>
                </a>
            </li> 
            <li>
                <a (click)="changePanel(panels.search)" [ngClass]="{'active': currentPanel == panels.search}"><i class="pi pi-search"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="setting">
        <a class="profile" (click)="changePanel(panels.profile)"><img [src]="currentUser?.profilePicture" alt=""></a>
        <a (click)="logout()" [ngClass]="{'active': currentPanel == panels.settings}"><i class="pi pi-cog"></i> </a>
    </div>
</div>