<div class="content">
    @if(activeDiscussion){
    <div class="contact-info">
        <div class="profile">
            <img class="avatar" [src]="currentReceiver?.profilePicture" alt="avatar">
            <div class="data">
                <span class="name">{{ currentReceiver?.name}}</span>
                <div class="status">
                    <span class="bg-success ball"></span>
                    <span class="text">{{ currentReceiver?.status }}</span>
                </div>
            </div>
        </div>
        <div class="call"></div>
    </div>
    <div class="discussion">
        <p-scrollPanel [style]="{ width: '100%', height: '95%' }">
            @for (msg of activeDiscussion.messages; track msg.id;let index = $index) {

            <div class="message-box"
                [ngClass]="{'sender': msg.senderId === currentUser?.id, 'new': index=== (activeDiscussion.messages?.length!-1) }">
                <div class="avatar">
                    @if (index > 0 && activeDiscussion.messages![index-1].senderId !== msg.senderId || index === 0 ) {
                    <img class="avatar" [src]="msg.senderId === currentUser?.id ? currentUser?.profilePicture : currentReceiver?.profilePicture"
                        alt="avatar">
                    }
                </div>
                <div class="box-content">
                    <div class="message">
                        <div class="message-content">
                            <span class="text">{{ msg.content }}</span>
                        </div>
                        <div class="message-time">
                            <span class="time">{{ msg.sentAt | date: 'H:mm:ss' }}</span>
                        </div>
                    </div>
                </div>
            </div>
            }
        </p-scrollPanel>
    </div>
    <div class="send-message">
        <p-iconField iconPosition="right" class="w-75 mx-auto">
            <p-inputIcon styleClass="pi pi-send" class="send-icon" (click)="sendMessage()" />
            <input type="text" pInputText placeholder="Type a message" class="w-100" [(ngModel)]="messageContent"
                (keydown.enter)="onEnterPressed()" autofocus />
        </p-iconField>
    </div>
    }@else{
    <div class="empty-discussion">
        <p>Start a conversation with a contact</p>
    </div>
    }
</div>