@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "bootstrap/scss/bootstrap.scss";

input,
.p-button {
  box-shadow: none !important; /* Remove the box-shadow set by bootstrap */
}

body {
  padding: 0;
  margin: 0;
}

.w-95 {
  width: 95% !important;
}

/* For emojies container*/

.emoji-mart {
  width: 100% !important;
}
