.content {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

app-sidebar{
    width: 100px;
    height: 100%;
}
app-message, app-discussion{
    height: 100%;
}